*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Section 1 Css */

.section-1{
    display: flex;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    
}
.section-1 h1{
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 700;
    border-left: 4px solid #F47340;
    padding-left: 10px;
    line-height: 65px;
}
.tomato-color{
    color:#F47340;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 700
}
#button-design{
    border-radius: 5px;
    text-decoration: none;
    background-color:#F47340;
    padding: 10px 30px;
    color: white;
    margin-top: 10px;
    border: none;   
    cursor: pointer;
}
#button-design:hover{
    background-color:#ee622b;
    color: black;
}
.para{
    margin: 10px 0 50px 0;
    font-family: ;
    text-align: justify;
}
.message{
    margin-top: 30px;
}
.half-part{
   width: 50%;
   padding-left: 10%;
}
.size-of-image{
    width: 70%;
    margin-top: -80px; 
}

/* Section 2 CSS */

.section-2{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
    
}
.section-2 h1{
    text-align: center;
    padding: 10px 0px 50px 0px;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 700;
}
.mission{
    display: flex;  
}
.mission img{
    width: 50%;
    
}
.mission p{
    font-size: 15px;
}
.mission-type{
    background-color: #f2f2f2;
    margin-right: 10px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 5px #dfdddd;
}
.mission-type:hover{

    box-shadow: -5px -5px 5px #c4c2c2; 
}
.mission-type h2{
    padding: 10px 0 10px 0;
}
#mission-1{
    background-color:#F0ECE3;
    width: 33.33%;
}
#mission-2{
    background-color: #FEE3EC;
    width: 33.33%;
}
#mission-3{
    background-color: #D9D7F1;
    width: 33.33%;
}

/* Section 3 CSS */

.section-3{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
    background-image: url(/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 300px 200px;
}
.section-3 img{
    width: 70%;
}
.section-3 h1{
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 700;
}
.left-sec{
    width: 40%;
}
.right-sec{
    width: 60%;
}

/* Section 4 CSS */

.section-4{
    display: flex;
    padding-left: 10%;
    margin-top: 100px;
    padding-bottom: 100px;
    background-image: url(/images/shapes/shape-1.png);
    background-position: 1000px 200px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
.section-4 img{
    width: 70%;
}
.section-4 h1{
    font-size: 60px;
    font-weight: 700;
}
.left-sec-4{
    width: 60%;
    padding-right: 10%;
}
.right-sec-4{
    width: 40%;
}

/* Get In Touch Section CSS */

.get-in-touch{
    display: flex;
    background-color: #f3f3f3;
    background-image: url(/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 300px 200px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

}
.get-in-touch img{
    width: 50%;
}

.image-part{
width: 80%;
}
.form-part{
    align-items: center;
    width: 50%;
    margin-left: -20%;

}
input[type=text],textarea
{
    width: 100%;
    padding: 12px 20px;
    background-color: white;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
}
.form{
   margin-top: 30px; 
}
footer h1{
    ont-size: 60px;
    font-weight: 700;
}


/* Footer CSS */

footer{
    text-align: center;
    height: 100px;
    background-color: black;
    color: whitesmoke;
    padding: 20px 0 10px 0;
    vertical-align:middle;
    box-sizing: border-box;
}
